<app-navbarpublic></app-navbarpublic>

<div class="area" >


  <div class="text-center pt-5">
    <div class="row mt-5">
      <a class="navbar-brand mt-5" href="#">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Slack_Icon.png/600px-Slack_Icon.png"
          alt=""
          width="150"
          height="150"
        />
      </a>
      <h1 class="col-12 mt-5 text-light">Slack Like</h1>
      <div class="col-5">
      </div>
      <div class="col-2 ">
          <form class="bg-primary">
              <label class="form-label m-3"><h5>Votre Nom</h5></label>
              <input type="text" name="inputCo" class="form-control" aria-describedby="emailHelp" />
            <button class="btn btn-outline-light bg-dark text-primary m-3" type="submit">Se connecter</button>

          </form>
      </div>
      <div class="col-5">
    </div>
  </div>

  <!-- <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul> -->
</div >

<app-footer></app-footer>
