#channelContainer {
    display: flex;
    margin: 10px;
    width: 300px;
}

.channelCard {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
  
    border-radius: 5px;
    width: 80%;
    padding: 10px 0 10px 15px;
}