<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <!-- ASIDE -->
    <div class="col-md-2 d-none d-md-block bg-dark sidebar">
      <app-aside></app-aside>
    </div>
    <!-- MAIN -->
    <div class="col-md-9 ml-sm-auto col-lg-10 mt-5 mb-5">
      <div class="row row-cols-6 g-1 p-2 mt-2">
        <app-user> </app-user>
        <!--On appel le component product qui se trouve dans product-component.ts-->
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>