<app-header></app-header>


<div class="container-fluid">
    <div class="row">
      <!-- ASIDE -->
      <div class="col-md-2 d-none d-md-block bg-dark sidebar">
       <app-channels></app-channels>
      </div>
  
      <!-- MAIN -->
      <div class="col-md-9 ml-sm-auto col-lg-10 mt-5 mb-5">
        <div class="row row-cols-6 g-1 p-2 mt-2">
          <app-messages> </app-messages>
          <!--On appel le component product qui se trouve dans product-component.ts-->
        </div>

        <div class="newMessage">
          <form id="messageForm" (submit)="getNewMessage()">
            <label>New Message</label>
            <textarea name="newMessage"  cols="30" rows="10"  [(ngModel)]="messageContent"></textarea>
            <button class="btn-warning" type="submit"  >Ajouter un Message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>