body{
    background-color: blueviolet;
}

#messageContainer {
   
    margin: 10px;
  
}

.messageCard {
  
    border: solid black 1px;
    border-radius: 5px;

    padding: 10px 0 10px 15px;
}