


<div id="messageContainer" *ngFor="let message of this.message.messageFiltered">

    <div class="messageCard">

       
         <!-- <input type="hidden" name="idUser" value="{{message.user}}">
         <p *ngFor="let dataUser of this.user.getUserByIdService"></p> -->
        <p>{{message.user.nickname}}</p> 
        <p>{{message.channel.name}}</p>
        <p>{{message.dateMessage}}</p>
        <p>{{message.status}}</p>
        <h3>{{message.message}}</h3>
    </div>

</div>
